<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact - Quiz Bot</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="card animate-fadeIn">
    <div class="topbar">
      <div><strong>Quiz Bot</strong></div>
      <div class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <h1>Contact</h1>
    <p class="small">Creator: Nakka Dani Babu and team </p>
    <p class="small">Email: <strong>danibabu770@gmail.com</strong> contact(8885298110)</p>

    <div style="margin-top:18px;">
      <a href="/" class="btn-lobby single">Back Home</a>
    </div>
  </div>
</body>
</html>
